.project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-card {
    
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    border: 3px solid rgba(0, 0, 0, 0.445);
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info {
    background: #1a1919;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-info.active {
    display: initial;
}

.project-title {
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.project-details p {
    padding-bottom: 1rem;
    font-size: 0.7rem;
    text-align: center;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-btns {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.project-btns .btn {
    padding: 0.5rem 1rem;
    margin: 0.2rem;
}

.emptyBtn {
    display: none;
}

@media screen and (max-width: 740px) {
    .project-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}