.slider-container {
    max-width: 1140px;
    margin: auto;
    padding-bottom: 6rem;
}
.slide-card {
    transition: transform 250ms;
}
.slide-card:hover {
    transform: translateY(-10px);
}

@media screen and (max-width: 1040px) {
    .slider-container {
        max-width: 90%;
        margin: auto;
    }
}